html {
	font-family: consolas;
	color: #ffffff;
}

jp {
	font-family: ms gothic;
}

#pagetitle {
	border: 2px solid #00ffff;
	background: #008080;
	font-weight: 700;
	text-align: center;
	width: 98%;
}

#gradi {
	background: rgb(0,192,192);
	background: linear-gradient(90deg, rgba(0,192,192,1) 0%, rgba(0,128,255,1) 100%);
}

#rectangle {
	width: 80%;
	height: 101%;
	background-color: #404040c0;
	position: absolute;
	left: 10%;
	top: -8px;
}

a {
	color: inherit;
}

#work-link {
	width: 33%;
	background: #404040c0;
	display: inline-block;
	vertical-align: top;
	padding: 3px;
}

#work-link-h {
	background: #202020;
	text-align: center;
}

#work-link-dl {
	background: #ff0080;
	text-align: center;
	float: right;
	padding: 6px;
}